* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.MarkdownInput {
  border: 1px solid black;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;
  min-height: 50vh;
}

.MarkdownInput::-webkit-scrollbar {
  display: none;
}

.TemplateContainer {
  display: flex;
  justify-content: center;
}

.PreviewOutput {
  border: 1px solid black;
  min-height: 50vh;
}
