* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f0e1;
}

.App {
  margin: 0;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
  background-color: #1e3d59;
  box-shadow: 0.5px 3px 10px rgb(119, 106, 65);
}

.Subheader {
  margin-top: 2%;
  background-color: #1e3d59;
  margin-bottom: 3%;
  color: #f5f0e1;
  font-size: 15px;
}

.SiteTitle {
  margin-top: 3%;
  background-color: #1e3d59;
  color: #f5f0e1;
  font-size: 50px;
}

.TitleWrapper {
  text-align: center;
}

.MarkdownTitle {
  margin-bottom: 2%;
  display: inline-block;
}

.PreviewTitle {
  margin-bottom: 2%;
  display: inline-block;
}

.MarkdownInput {
  border: 1px solid black;
  outline: none;
  box-shadow: 0.5px 3px 5px rgb(119, 106, 65);
  resize: none;
  min-height: 50vh;
  width: 45vw;
  border-radius: 10px;
  padding: 4%;
  background-color: #fffffff6;
}

.MarkdownInput::-webkit-scrollbar {
  display: none;
}

.TemplateContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.TemplateArea {
  margin: 0 2%;
}

.PreviewOutput {
  border: 1px solid black;
  min-height: 50vh;
  min-width: 45vw;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0.5px 3px 5px rgb(119, 106, 65);
  padding: 3%;
  background-color: #fffffff6;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* .CodePreview {
  min-width: fit-content;
} */

.PreviewOutput h1,
.PreviewOutput h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

.PreviewOutput p {
  font-size: 16px;
}

.PreviewOutput h1,
.PreviewOutput h2,
.PreviewOutput h3,
.PreviewOutput h4,
.PreviewOutput h5,
.PreviewOutput h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:visited {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.PreviewOutput pre {
  width: 100%;
  /* min-width: fit-content; */
  background: rgb(236, 250, 255);
  padding: 3%;
  border: none;
  border-radius: 10px;
  margin: 2% 0;
  display: inline-block;
  white-space: pre-wrap;
  /* overflow-y: hidden;
  overflow: scroll; */

  /* TEXT IS OVERFLOWING - WHY?!?!?!?!?!? */
}

.PreviewOutput code {
  width: 100%;
}

.Code {
  /* width: 100%; */
}

.Footer {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: larger;
  width: 100%;
  background: #1e3d59;
  color: #f5f0e1;
  box-shadow: 0.5px 3px 10px rgb(119, 106, 65);
}
